.card-header {
    background-color: rgb(40 45 51);
    display: flex;
    align-items: center;
}
.card {
    background-color: #77262640;
    border: 1px solid #ffffff1f;
}
.card p {
    font-size: 15px;
    font-weight: 100;
}
.authorName {
    margin-right: auto;
}